* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
h1, h2,h3 ,p {
  margin: 0;
  padding: 0;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
.header {
  background-image:linear-gradient(180deg, #000000 10.42%, rgba(0, 0, 0, 0.09375) 79.69%, rgba(0, 0, 0, 0) 100%), url("../img/bg.png");
  height: 1142px;
}
.nav {
  nav {
    display: flex;
    border-top: 1px dashed rgba(79, 79, 79, 1);
    border-bottom: 1px dashed rgba(79, 79, 79, 1);
    height: 35px;
    align-items: center;
    .menu {
      display: flex;
      padding: 0;
      &__item {
        list-style-type: none;
        padding-right: 37px;
      }
      &__link{
        text-decoration: none;
        color: #FFFFFF;
        font-size: 15px;
        font-weight: 700;
      }
    }
    a {
      text-decoration: none;
      color: #FFFFFF;
    }
  }
  .svyz {
    display: flex;
    justify-content: space-between;
    color: #B6B6B6;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
    margin-top: 22px;
    div {
      display: flex;
    }
    img {
      padding-right: 8px;
    }
  }
}

.menu-main {
  display: flex;
  padding-top: 22px;
}
.nav {
  margin-left: 34px;
}
.map {
  background-image: url("../img/map.png");
}